:root {
  --text-color: #d7d9e8;
  --danger-color: #970e38;
  --neon-green-color: #0cbe62;
  --neon-pink-color: #e52fe4;
  --dark-bg-color: #07081d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* overflow: hidden; */
  min-height: 100vh;
  max-width: 100vw;
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}

input {
  background-color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  color: white;

  @media screen and (max-width: 562px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 451px) {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.header--green {
  background-color: #0cbe62;
  color: white;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;

  @media screen and (max-width: 451px) {
    padding: 1.5rem 0.5rem;
  }
}

.input {
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  width: 35rem;
  max-width: 35rem;
  outline: none;
  transition: all 0.3s;

  &:focus {
    outline: 3px solid var(--neon-pink-color);
    outline-offset: 5px;
  }

  @media screen and (max-width: 562px) {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 25rem;
  }
  @media screen and (max-width: 451px) {
    width: 22rem;
  }
}

.find-btn {
  background-color: var(--dark-bg-color);
  padding: 1rem 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.15s;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text-color);
  }

  &:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem #434358d7;
    transform: translateY(0px);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0.1rem 0.1rem 0.2rem #434358d7;
  }
}

a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

.highlight {
  background-color: var(--neon-green-color);
}

.mw-content-ltr,
.mw-parser-output {
  display: block;

  a {
    pointer-events: none;
  }

  tbody {
    background-color: transparent;
    float: right !important;

    .infobox-header {
      a {
        color: var(--dark-bg-color);
      }
    }
  }

  @media screen and (max-width: 562px) {
    .infobox {
      float: none !important;
      width: auto !important;
    }

    .infobox-image {
      text-align: center;
    }
  }

  .timeline-wrapper {
    img {
      width: 100%;
    }
  }

  .noresize {
    width: 100%;
  }

  .barbox {
    width: fit-content;

    a {
      color: var(--dark-bg-color);
    }
  }

  p {
    margin: 1rem 0;
    word-wrap: break-word;
  }

  .infobox {
    float: right;
    width: min-content;
    border: 1px solid var(--text-color);
    margin-left: 1.5rem;

    .infobox-subheader {
      a {
        color: var(--dark-bg-color);
      }
    }
  }

  .mw-editsection {
    display: none;
  }

  .mbox-text,
  .navbox-group,
  .side-box-flex,
  .selfreference,
  .navbox,
  .sidebar,
  .table-pale {
    color: var(--dark-bg-color);

    a {
      color: var(--dark-bg-color);
    }
  }

  .reflist {
    padding: 0 1rem;
  }

  code,
  .cs1-visible-error {
    display: none;
  }
}
